PORT=3000

TMDB_API_KEY=your_tmdb_api_key

FRONTEND_URL=http://localhost:5173

DATABASE_URL = "postgresql://neondb_owner:PASSWORD@ep-rapid-tooth-b1as0ce2-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

DIRECT_URL = "postgresql://neondb_owner:PASSWORD@ep-rapid-tooth-b1as0ce2.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
